.main{
    height:auto;
    margin-top: 40px;
}
.obo_mnie h2{
    text-align: center;
    padding: 5px;
}
.obo_mnie {
    border: 2px solid black;  
    max-width: 300px;         
    margin: 0 auto;           
    padding: 5px;          
  }
.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.about_text{
    max-width: 650px;
    line-height: 30px;
    background-color: #F5F7F7;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
}
.imgDiko img{
    width: 90%;
    height: auto;
    max-width:550px;
}

.about_text h2{
    color: #6C2D9C;
}
.about_text h3{
    color: gray;
    margin: 20px 0 20px 0;
}
.about_text h3 span{
    color:#D84A7B;
}
.about_text button{
    margin-top: 20px;
}
 @media only screen and (min-width: 1024px) {
    .about_text{ 
        margin-left:30px;
    }
}
 @media only screen and (max-width: 1024px) {
    .main{
        height:auto;
        margin-top:none;
        padding: 50px;
    }
    .obo_mnie h2{
        text-align: center;
        font-size: 2vh;
    }
    .main_container{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: 80px;
    }
}
@media screen and (max-width: 767px) {
    .obo_mnie h2 {
        font-size: 1.5vh;
    }
}