.footer {
    height:200px;
    background: linear-gradient(to bottom, white, #DCB4CF);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_box{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    gap: 40px;
}
.mail_phone li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}
.copy_right{
    border-top: 1px solid #8B8B8B;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    color: #757575;
}