.main3 {
    margin-top: 150px;
    height: auto;
}
.main3 h2 {
    text-align: center;
    padding: 5px;
}
.oferta_text {
    border: 2px solid black;
    max-width: 300px;
    margin: 0 auto;
    padding: 5px;
}

.oferta-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.oferta-box {
    height: 35vh;
    width: 33vh;
    margin-top: 40px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.6s;
    background-color: #F5F7F7;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oferta-box img {
    max-width: 90%;
    max-height: 60%;
    object-fit: contain;
}

.back-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f7f4fa, #bcafcc);
    text-align: left;
    color: black;
}
.card-list li {
    font-size: 14px;
    color: #333;
   padding: 8px;
    text-align: center;
    font-weight: bold;
}
.social_media {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.social-box {
    position: relative;
    height: 35vh;
    width: 60%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 10px;
    cursor: pointer;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    background-color: #F5F7F7;
    max-width: 1150px;
}
 
.social-box img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.project-container {
    text-align: center;
    margin-top: 150px;
    height: auto;
}

.project-box1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
    flex-wrap: wrap;
}

.savings,
.add_group,
.checkmark {
    background-color: #F5F7F7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 15%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    color: #8B8B8B;
}
.oferta-box img,
.savings img,
.add_group img,
.checkmark img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}
.project-container p{
    padding-top: 15px;
}

@media only screen and (min-width: 1024px) {
    .oferta-container {
        margin: 20px 40px 0 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .social-box {
        height: 30vh;
        width: 100%;
        max-width:1000px;
        padding: 0 10px;
    }
}
 @media only screen and (max-width: 1024px) {
    .oferta_text h2{
        text-align: center;
        font-size: 2vh;
    }
    .main3 h2 {
        text-align: center;
        padding: 5px;
    }
    .oferta-container {
        gap: 30px;
        margin: 40px 30px 0 30px;
    }
    .oferta-box {
        height: 33vh;
        width: 33vh;
    }
    .social-box {
        height: 30vh;
        width: 80%;
        letter-spacing: 2px;
        padding: 50px;
    }
    .social-box img {
        max-width: 100%;
        max-height: 100%;
    }
    .savings,
    .add_group,
    .checkmark {
        width: 35%;
        padding: 30px;
    }
    .project-container h2{
        font-size: 2vh;
    }
    
}
@media screen and (max-width: 767px) {
    .oferta_text h2 {
        font-size: 1.5vh;
    }
    .card-list li {
        font-size: 13px;
    }
    .oferta-box {
        height: 33vh;
        width: 36vh;
    }
    .back-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #f7f4fa, #bcafcc);
    text-align: left;
    color: black;
    padding: 20px;
}
}