.main2{
    height:auto;
}
.portfolio{
    text-align: center;
    margin-top: 100px;
}
.portfolio h2{
    text-align: center;
    padding: 5px;
}
.portfolio_text{
    border: 2px solid black;  
     max-width: 300px;         
     margin: 0 auto;           
     padding: 5px;                  
}
.carousel-container {
    max-width: 100%; 
    width: 75%; 
    margin: 0 auto;
    margin-top: 80px;
    background-color: #F5F7F7;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  }
  .carousel-slide img {
    width: 100%;
    height: auto;  
     
  }
  .slick-dots li button:before{
    display: none;
  }
@media only screen and (max-width: 1024px) {
  .carousel-container {
    max-width: 100%; 
    width: 92%; 
    margin: 0 auto;
    margin-top: 80px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5); 
    }
  .portfolio h2{
    font-size: 2vh;
}
}
@media screen and (max-width: 767px) {
  .portfolio h2 {
      font-size: 1.5vh;
  }
}